<app-header-breadcrumb
  [title]="'Xuất Báo Cáo'"
  [items]="['Quản lý']"
  [active_item]="'Xuất báo cáo'"
  [headBreadBtns]="listHeadButtons"
  [loadData]="loader"
  (inputValue)="getSearchData($event)"
></app-header-breadcrumb>
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card" *ngIf="hasValue">
      <div class="card-header pb-0">
        <div>
          <h6 class="main-content-label mb-1">
            {{ inputData.tollbooth.title }} : {{ inputData.date }}
          </h6>
          <p class="text-muted card-sub-title">
            Trích xuất số lượng phương tiện theo ca và làn xe.
          </p>
        </div>
      </div>
      <div class="card-body py-4" *ngIf="historyReportAll.length === 0">
        <app-ngb-table
          *ngIf="historyReport.length > 0"
          [tableButton]="listTableButtons"
          [searchInfo]="inputData"
          [dataReport]="historyReport"
          [totalVehicles]="totalCountVehicles"
          [laneNumber]="laneNumber"
          [dataReportAll]="historyReportAll"
        ></app-ngb-table>
      </div>
      <div class="card-body py-4" *ngIf="historyReportAll.length > 0">
        <app-ngb-table
          [tableButton]="listTableButtons"
          [searchInfo]="inputData"
          [dataReportAll]="historyReportAll"
          [totalVehicles]="totalCountVehicles"
          [laneNumber]="laneNumber"
          [dataReport]="historyReport"
        ></app-ngb-table>
      </div>
      <table class="table mb-8 scroll">
        <thead>
          <tr
            *ngIf="historyReportAll.length === 0 && historyReport.length === 0"
          >
            <h5>Không tìm thấy dữ liệu hiển thị</h5>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<app-default *ngIf="!loader && !hasValue"></app-default>
<app-load-data *ngIf="loader"></app-load-data>
