// body{
//     overflow: auto!important;
// }
.dropdown-menu{
    min-width: 152px;
}
input{
    background-color: transparent;
    color: #DEDEFD;
  }
  .btn-outline-primary:hover{
    background-color: #070b20;
  }
.svg-icon{
  height:20px;
  width:20px;
}
.calendar-table{
  color: #070b20!important;
}
.drp-animate{
  color: #070b20!important;
}
input{
  background: transparent !important;
}
