<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-md-12 col-sm-12 text-center">
        <a href="javascript:;" style="font-weight: 600; font-size: larger"
          >Hệ Thống Giám Sát Và Quản Lý Trạm thu Phí</a
        ><br />
        <span class="text-muted">Phát triển bởi</span>
        <span> Trung Tâm Sản Xuất Thông Minh Và Phát Triển Công Nghiệp 4.0 (SMIC) </span><br />
        <span>Copyright © 2022-Version: 0.1.0</span>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER END -->
